{%- comment %} TODO or not TODO ???

From https://www.jamendo.com/radios


<!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see
        http://go.microsoft.com/fwlink/?LinkID=617521
        http://content-security-policy.com/
        https://developer.mozilla.org/en-US/docs/Web/Security/CSP/Introducing_Content_Security_Policy
	-->
    
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://*.jamendo.com https://www.google-analytics.com https://www.googletagmanager.com http://www.googletagmanager.com http://www.google-analytics.com https://optimize.google.com http://tagmanager.google.com 'unsafe-inline' 'unsafe-eval';
	child-src 'self' https://www.googletagmanager.com; 
	style-src 'self' https://*.jamendo.com https://fonts.googleapis.com https://fonts.gstatic.com https://tagmanager.google.com 'unsafe-inline'; 
	img-src * blob: data:;
	connect-src 'self' *.jamendo.com https://tagmanager.google.com;
	font-src 'self' https://*.jamendo.com https://fonts.gstatic.com data:; 
	media-src *.jamendo.com;
	frame-src https://optimize.google.com gap:;">



https://habrahabr.ru/company/nixsolutions/blog/271575/

HTTPS Content-Security-Policy: upgrade-insecure-requests
https://habrahabr.ru/post/341664/
https://www.troyhunt.com/the-6-step-happy-path-to-https/
https://blog.cloudflare.com/introducing-cloudflare-workers/
https://developer.mozilla.org/ru/docs/Web/HTTP/Headers/Content-Security-Policy/upgrade-insecure-requests
https://developer.mozilla.org/ru/docs/Web/HTTP/Headers/Content-Security-Policy/block-all-mixed-content
https://xakep.ru/2013/12/23/61798/
{% endcomment -%}
